ion-content{
    font-style: oblique;
    
    --background: url('C:/Apache24/htdocs/workshop/app/src/assets/icon/bg3.jpg') no-repeat 0 0/100% 100%;
}

.achievement-button{
    position: absolute;
    top: 150px;
    right: 10px;
}
.logout-button{
    position: absolute;
    top: 400px;
    right: 75px;
}