<ion-header>
  <ion-toolbar>
    <ion-title text-center>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <div text-center>
      <ion-button fill="outline" size="large" color="dark" shape="round" class="achievement-button" round outline (click)="tryView()">
      View achievements
      </ion-button>
      <ion-button fill="outline" size="default" color="dark" shape="round" class="logout-button" (click)="tryLogout()">Log Out</ion-button>
    </div>
  </div>
  
   
