ion-content{
    font-style: oblique;
    
    --background: url('C:/Apache24/htdocs/workshop/app/src/assets/icon/bg3.jpg') no-repeat 0 0/100% 100%;
}

.view-button{
    position: absolute;
    top: 20px;
    right:65px;
}

.edit-button{
    position: absolute;
    top: 20px;
    right:0px;
}