ion-content{
    font-style: oblique;
    --background: url('C:/Apache24/htdocs/workshop/app/src/assets/icon/bg3.jpg') no-repeat 0 0/100% 100%;
}
ion-grid{
    bottom: 0px;
}
.home-link{
    position: absolute;
    bottom: 1px;
    right: 30px;
}